<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="mobile-logo"><a routerLink="/dashboard"><img src="../assets/images/logo-icon.svg" alt="Mplify"></a></div>
        <div class="auth-left">
          <div class="left-top">
            <a routerLink="/dashboard">
              <img src="../assets/images/logo-icon.svg" alt="Mplify">
              <span>{{ appname }}</span>
            </a>
          </div>
          <div class="left-slider">
            <img src="../assets/images/login/1.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="auth-right">
          <div class="right-top">
            <ul class="list-unstyled clearfix d-flex">
              <li><a routerLink="/dashboard"><i class="fa fa-home"></i></a></li>
              <li><a href="javascript:void(0);">Ayuda</a></li>
              <li><a href="javascript:void(0);">Contáctenos</a></li>
            </ul>
          </div>
          <div class="card">
            <div class="header">
              <p class="lead">404 <span class="text">Oops!</span></p>
              <span>Página no encontrada</span>
            </div>
            <div class="body">
              <p>La pagina que estas buscando no se encuentra, por favor <a href="javascript:void(0);">contactenos</a> para reportar el inconveniente.</p>
              <div class="margin-top-30">
                <a (click)="goUrl('/dashboard')" class="btn btn-primary"><i class="fa fa-home"></i> <span>Inicio</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
